.Navbar-component {
    background-color: #373277 !important;
    margin: 0 !important; 
    padding: 0px 20px 0px 20px !important;
}

.Navbar-btn-primary {
    color: #ffffff !important;
    background-color: #373277 !important;
}

.Navbar-component-logo {
    background-color: #373277 !important;
    margin: 0 !important; 
}

.Navbar-component-logo:active {
    background-color: #373277 !important;
}

.Navbar-btn-primary-menu {
    color: #ffffff !important;
    background-color: #373277 !important;
    border: 2px solid #ffffff !important;
}

.Navbar-btn-primary-menu-btn {
    color: #ffffff !important;
    background-color: #373277 !important;
    text-decoration: none !important;
}

.Navbar-btn-primary-menu-btn:hover {
    color: #373277 !important;
    background-color: #ffffff !important;
}

.Navbar-btn-primary-menu-btn:active {
    color: #373277 !important;
    background-color: #ffffff !important;
}

a {
    background: none;
    text-decoration: none;
}