.Register-component {
    background-image: url(../assets/banking-backgroung.jpg);
    /* Full height */
      height: 500px; 
  
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: repeat;
      background-size: cover;
  }

  .btn {
    height: 47.9883px;
  }