.Register-component {
    /*background-image: url(../assets/banking-backgroung.jpg);*/
    /* Full height */
      height: 596px; 
  
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: repeat;
      background-size: cover;
  }

  .container {
    text-align: center;
  }
  .btn {
    height: 47.9883px;
  }
    

.Register{
  margin-bottom: '50px';
}

.Reg-Header {
  font-size: 38px;
  font-family: 'Circular';
  font-weight: 900;
}

.sign-up-btn {
  color: #fff !important;
  background-color: #373277 !important;
  border-color: #373277 !important;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.1rem rgba(255,255,255) !important;
}
