.UserActionNavbar-component {
    background-color: transparent !important;
    margin: 0 !important; 
    padding: 0px 20px 0px 0px !important;
}

.UserActionNavbar-btn-primary {
    color: #ffffff !important;
    background-color: transparent !important;
    font-weight: normal !important;
    font-size: 1rem !important;
    font-style: 'Circular'
}

.UserActionNavbar-btn-primary-menu {
    color: #ffffff !important;
    background-color: transparent !important;
    border: 2px solid #ffffff !important;
    font-weight: normal !important;
    font-size: 1rem !important;
    font-style: 'Circular'
}

.UserActionNavbar-btn-primary-menu-btn {
    color: #ffffff !important;
    background-color: transparent !important;
    text-decoration: none !important;
    font-weight: normal !important;
    font-size: 1rem !important;
    font-style: 'Circular'
}

